:root {
  --color-background: #ffffff;
  --color-heading: #272727;
  --color-text: #272727;
  --color-text-dimmed: #5e6167;
  --color-divider: #ddd;
  --color-input-border: #8d8d8d;
  --color-input-border-hover: #272727;
  --color-input-border-active: #1b73e4;
  --color-input-shadow-active: 0 0 3px 1px rgba(27, 115, 228, 0.2);
  --color-asset-btc-foreground: #ffffff;
  --color-asset-btc-background: #f7931a;
  --color-asset-eth-foreground: #ffffff;
  --color-asset-eth-background: #666666;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
